/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

body {
	min-width: 320px;
	min-height: 100vh;
	background: $base-color;
	font-family: $font-primary;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $dark-color;	

	@media #{$mobile} {
		font-size: 18px;
	}
}

a {
	color: inherit;
}
