/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sarala:wght@400;700&family=Squada+One&display=swap');

$font-title: "Squada One", sans-serif;
$font-primary: "Sarala", sans-serif;
$font-cursive: "Caveat", cursive;

$font-size-base: 20px;
$line-height-base: 1.78;

$shell-max-width: 900px;
$shell-gutter: 20px;

$responsive-sm: 767px;
$responsive-md: 1023px;

/*  Colors  */
$primary-color: #7e0079;
$base-color: #f5f5f5;
$dark-color: #0d0049;
$accent-color: #007969;

$mobile: '(max-width: #{$responsive-sm}) ';
$tablet-portrait: '(max-width: #{$responsive-md}) ';
$desktop: '(min-width: #{$responsive-md + 1}) ';

// Usage
// @media #{$desktop}
